<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Schedule">
	<!--영화선택 시간,상영관,날짜 -->
	<insert id="insert" parameterType="Schedule">
		insert into schedule(schedule_id,box_id,movie_id) values(seq_schedule.nextval,#{box.box_id},#{movie.movie_id})
		<selectKey order="AFTER" keyProperty="schedule_id" resultType="int">
			select seq_schedule.currval as schedule_id from dual
		</selectKey>
	</insert>
	
	<!--스케줄목록-->
	<resultMap  id="joinScheduleMovieBox" type="Schedule"> 
		<id column="schedule_id" property="schedule_id"/>
		<association column="movie_id" property="movie" javaType="Movie" select="Movie.selectBySchedule"/>
		<association column="box_id" property="box" javaType="Box" select="Box.selectBySchedule"/>
		<association column="schedule_id" property="sdate" javaType="Sdate" select="Sdate.selectByScheduleId"/>
		<collection column="schedule_id" property="stimeList" javaType="java.util.List" ofType="Stime" select="Stime.selectByScheduleId"/>
	</resultMap>
	<select id="selectAll" resultMap="joinScheduleMovieBox">
		select * from schedule order by schedule_id desc
	</select>
	
	<!--스케줄 상세보기-->
	<resultMap  id="joinScheduleMovieBoxStimeSdate" type="Schedule">
		<id column="schedule_id" property="schedule_id"/>
		<association column="movie_id" property="movie" javaType="Movie" select="Movie.selectBySchedule"/>
		<association column="box_id" property="box" javaType="Box" select="Box.selectBySchedule"/>
		<association column="schedule_id" property="sdate" javaType="Sdate" select="Sdate.selectByScheduleId"/>
		<collection column="schedule_id" property="stimeList" javaType="java.util.List" ofType="Stime" select="Stime.selectByScheduleId"/>
	</resultMap>
	<select id="select" resultMap="joinScheduleMovieBoxStimeSdate">
		select * from schedule where schedule_id=#{schedule_id}
	</select>

	<!--선택정보업데이트 -->
	<update id="update" parameterType="Schedule">
		update schedule set schedule_id=#{schedule_id} where schedule_id=#{schedule_id}
	</update>

	<!--선택정보삭제 -->
	<delete id="delete" parameterType="int">
		delete from schedule where schedule_id=#{schedule_id}
	</delete>

</mapper>