<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Theater">

   <select id="selectAllById" parameterType="int" resultType="Theater">
      select * from theater where location_id=#{location_id}
   </select>
   
      <resultMap  id="joinLocation" type="Theater">
   		<id column="theater_id" property="theater_id"/>
   		<result column="theater_name" property="theater_name"/>
   		<association column="location_id" property="location" javaType="Location" select="Location.selectByTheater"/>
   </resultMap>
   
   <select id="selectByTheaterId" parameterType="int" resultMap="joinLocation" >
      select * from theater where theater_id=#{theater_id}
   </select>
   
   
   
   <resultMap  id="joinBox" type="Theater">
   		<id column="theater_id" property="theater_id"/>
   		<result column="location_id" property="location_id"/>
   		<result column="theater_name" property="theater_name"/>
   		<collection column="theater_id" property="box" javaType="java.util.List" ofType="Box" select="Box.selectAllById"/>
   </resultMap>
   
   <select id="selectAll" resultMap="joinBox">
      select * from theater order by theater_id asc
   </select>
</mapper>  